<ion-view view-title="Refenes <small>Groups</small>">

	<ion-content class="padding">
		<button class="button button-block button-outline button-balanced" ng-controller='GroupsCtrl' ng-click="newGroup()">Add a new Group</button>

		<div class="list">

			<a class="item item-icon-left ng-binding" href="#/app/groups/1">
				<i class="icon ion-ios-time-outline" style="color:#FF0000"></i>
				<h2>Prague - 20/01/2015</h2>
				<p>Christos, Vasilis, Ioanna, Achileas, Tassos</p>
			</a>

			<a class="item item-icon-left ng-binding" href="#/app/groups/5">
				<i class="icon ion-ios-checkmark-outline" style="color:#038900"></i>
				<h2>Πύλη - 02/11/2014</h2>
				<p>Christos, Vasilis, Ioanna, Achileas, Tassos</p>
			</a>

		</div>

	</ion-content>

</ion-view>
