<ion-view view-title="Refenes - Dashboard">
  <ion-content class="padding">
    <button class="button button-block button-positive ion-paper-airplane">
      Send-a-Note
    </button>
    <div class="list card">
      <div class="item item-divider" style="background:#DAFFDA">
        <i class="icon ion-log-in"></i> Received <b>3&euro;</b> @ <b>Prague</b>
        <span class="item-note">15/01/2015</span>
      </div>
      <div class="item item-body">
        <div>
          You received a <b>3&euro;</b> note from <b>Christos</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider" style="background:#DAFFDA">
        <i class="icon ion-log-in"></i> Received <b>15&euro;</b>
        <span class="item-note">08/01/2015</span>
      </div>
      <div class="item item-body">
        <div>
          You received a <b>15&euro;</b> note from <b>Soula</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider" style="background:#FFDADA">
        <i class="icon ion-log-out"></i> Send <b>15&euro;</b> @ <b>Prague</b>
        <span class="item-note">05/01/2015</span>
      </div>
      <div class="item item-body">
        <div>
          You send a <b>15&euro;</b> note to <b>Voula</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
