<ion-view view-title="Ρεφενέδες">

	<ion-nav-buttons side="right">
		<button ng-click="OpenNewRefenes()" class="button button-icon button-clear ion-ios-plus-outline">
		</button>
	</ion-nav-buttons>

	<ion-content ng-hide="loading">

		<div class="padding" ng-if="!tabs.length">
			<div class="empty"> No tabs were found</div>
			<button class="button button-block button-balanced" ng-click="OpenNewRefenes()">New Tab</button>
		</div>

		<div class="list" ng-if="tabs.length">

			<div class="item" ng-repeat="tab in tabs" ui-sref="app.tab({id:tab.id})">
				<h2>{{tab.doc.title}}</h2>
				<p>Μέλη: {{tab.doc.members.length }} - Δημιουργ.: {{tab.doc.date | date}}</p>
			</div>

		</div>


	</ion-content>

</ion-view>
