<ion-modal-view>
	<ion-header-bar class="bar-dark">
		<h1 class="title">New Share</h1>
		<button class="button button-icon icon ion-ios-close-outline" ng-click="CloseShare()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">

			<a class="item" href ng-click="OpenDatePicker">
                {{share.date|date}}
            </a>

			<label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" ng-model="share.description" placeholder="Description">
            </label>

			<div class="item item-divider">
				Payers <span style="float:right">{{share.amount|currency}}</span>
			</div>
			<div class="item item-input item-button-right" ng-repeat="payer in share.payers">
				<span class="input-label">{{payer.name}}</span>
				<input type="number" ng-model="payer.amount" style="text-align:right">
			</div>

			<div class="item item-divider">
				Shared
				<span style="float:right" class="assertive" ng-show="amount_is_off">
                    {{amount_diff|currency}}
                </span>
			</div>
			<div class="item item-toggle">
				<span ng-if="share.isEqual">Equally <strong>{{share.equalShare | currency}}</strong></span>
				<span ng-if="!share.isEqual">Custom</span>
				<label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="share.isEqual">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
			</div>
			<div ng-if="!share.isEqual" class="item item-input item-button-right" ng-repeat="taker in share.takers">
				<span class="input-label">{{taker.name}}</span>
				<input type="number" ng-model="taker.amount" style="text-align:right">
			</div>

			<div class="padding">
				<button class="button button-block button-balanced" ng-click="SaveShare()">
                    Save
                </button>
			</div>

		</div>
        <pre>{{share|json}}</pre>
	</ion-content>
</ion-modal-view>