<ion-view view-title="Login">
  <ion-content class="padding start-screen" scroll="false">
    <div class="row">
      <div class="col">
        <div class="start-screen-header">reφenes</div>
        <div class="login-form">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="credientials.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="credientials.password">
            </label>
          </div>
          <button class="button button-block button-outline button-balanced" ng-click="login()">Login</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
