<ion-view view-title="Refenes">
  <ion-content class="padding start-screen" scroll="false">
    <div class="row">
      <div class="col">
        <div class="start-screen-header">reφenes</div>
        <div class="start-view">
          <div ng-show="loading">
            <ion-spinner class="spinner-stable"></ion-spinner>
            <br>
            <span ng-bind-html="status"></span>
          </div>
          <div class="start-error" ng-hide="loading">
            <h2><i class="icon ion-alert-circled"></i></h2>
            <h4 ng-bind-html="error.message"></h4>
            <h6 ng-bind-html="error.details"></h6>
            <button class="button button-energized button-outline button-block" ng-click="initApp()">
              Retry</button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
