<ion-side-menus>
	<ion-side-menu-content>

		<ion-nav-bar class="bar-dark">

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button ng-controller="HelpController" ng-click="showHelpModal()" class="button button-icon button-clear ion-ios-help-outline">
				</button>
			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="content"></ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu side="left" expose-aside-when="large">
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close ui-sref="app.dashboard" class="item-icon-left">
					<i class="icon ion-paper-airplane"></i>
					<h2>Dashboard</h2>
					<p>Send & Receive some</p>
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.friends" class="item-icon-left">
					<i class="icon ion-person-stalker"></i>
					<h2>Friends</h2>
					<p>Because you love them</p>
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.tabs" class="item-icon-left">
					<i class="icon ion-ios-book"></i>
					<h2>Tabs</h2>
					<p>Don't worry, be fun</p>
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.settings" class="item-icon-left">
					<i class="icon ion-ios-settings-strong"></i>
					<h2>Settings</h2>
					<p>Set them up</p>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>
