<ion-view view-title="Επισκόπηση">


	<ion-nav-buttons side="right">
		<button ng-controller="HelpController" ng-click="showHelpModal()" class="button button-icon button-clear ion-ios-help-outline">
		</button>
	</ion-nav-buttons>

	<ion-content class="padding" ng-hide="loading">

		<div ng-if="!tabs.length">
			<div class="list">
				<div class="item item-text-wrap">
					<h1>Καλωσήρθατε!</h1>
					<p>O ρεφενές ειναι το ατομικό μερίδιο σε μια συλλογική δαπάνη για φαγητό, διασκέδαση κλπ</p>
					<p>Με αυτή την εφαρμογή μπορείτε να φτιάξετε γρήγορα κάρτες αυτόματου υπολογισμού ρεφενέδων</p>
					<p>Μην ανησυχείτε, η εφαρμογή δεν ανταλλάσσει πραγματικά χρήματα ούτε επικοινωνεί με το internet. Το μόνο που κάνει ειναι να αυτοματοποιήσει το χαρτί</p>
				</div>
				<button class="button button-block button-balanced" ng-click="OpenNewRefenes()">
					Νέος Ρεφενές
				</button>
			</div>
		</div>

		<p ng-if="!notes.length && tabs.length" class="empty">
			Δεν βρέθηκαν συναλλαγές
		</p>

		<div class="list" ng-if="notes.length">

			<div class="item item-divider">
				Τελευταίες Συναλλαγές
			</div>
			<div class="item" ng-repeat="note in notes" ui-sref="app.notes.note(note.id)">
				<span class="item-note">{{note.doc.amount | currency}}</span>
				<h2>{{note.doc.description}}</h2>
				<p>{{note.doc.date | date}}</p>
			</div>
			
		</div>
		<pre>{{tabs|json:1}}</pre>
		<pre>{{notes|json:1}}</pre>

	</ion-content>

</ion-view>
