<ion-view view-title="Επισκόποιηση">

	<ion-content class="padding">

		<ion-refresher class="spinner-stable" pulling-text="Τραβήξτε για ενημέρωση" on-refresh="Refresh()">
		</ion-refresher>

		<p ng-if="!items" class="lead center">
			No not were found
		</p>

		<div class="list" ng-if="items">

			<div class="item item-icon-right item-avatar item-highlight" ng-repeat="item in items" ui-sref="app.items.item(item.id)">
				<img ng-src="{{item.person.avatar}}">
				<h2 ng-if="item.type=='RECEIVED'"><strong>{{item.person.name}}</strong> give you <strong>{{item.amount}} coins</strong></h2>
				<h2 ng-if="item.type=='SEND'"><strong>You</strong> pay for <strong>{{item.amount}} coins</strong></h2>
				<p>{{item.date_label}} - {{item.tab}}</p>
			</div>

		</div>

	</ion-content>

</ion-view>
