<ion-view view-title="Refenes <small>Dashboard</small>">

	<ion-content class="padding">
		<ion-refresher class="spinner-stable" pulling-text="Pull to refresh" on-refresh="refreshNotes()">
		</ion-refresher>
		<button class="button button-block button-balanced" ng-click="newNote()">Send a Note</button>

		<div class="list list-notes">
			<ion-item ng-repeat="note in notes" class="ng-binding" href="#/app/notes/{{note.id}}">

				<div ng-switch on="note.type">
					<div ng-switch-when="RECEIVED">
						<span class="badge badge-positive">{{note.amount}}&euro;</span>
						<h2><b>{{note.user.name.first || "Unknown"}}</b> send you a note</h2>
					</div>
					<div ng-switch-when="SEND">
						<span class="badge badge-royal">{{note.amount}}&euro;</span>
						<h2>You send a note to <b>{{note.user.name.first || "Unknown"}}</b></h2>
					</div>
					<p>
						{{note.date|date:'dd/MM/yyyy'}} | {{note.user.email}}
					</p>
				</div>

			</ion-item>

		</div>

	</ion-content>

</ion-view>
