<ion-view view-title="Refenes <small>Groups</small>">

	<ion-content class="padding">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
		</ion-refresher>
		<button class="button button-block button-balanced" ng-click="newGroup()">Add a new Group</button>

		<div class="list">
			<ion-item ng-repeat="group in groups" class="item-icon-left ng-binding" href="#/app/groups/{{group.id}}">

				<div ng-switch on="{{group.complete}}">
					<i class="icon ion-ios-time-outline assertive" ng-switch-when="true"></i>
					<i class="icon ion-ios-checkmark-outline balanced" ng-switch-when="false"></i>
				</div>

				<h2>{{group.name}} - {{group.date|date:'dd/MM/yyyy'}}</h2>
				<p>{{(group.users).join(', ')}}</p>

			</ion-item>

		</div>

	</ion-content>

</ion-view>
