<ion-view>

	<ion-nav-bar class="bar-dark">

		<ion-nav-back-button></ion-nav-back-button>

		<ion-nav-title>
			{{tab.title}}
		</ion-nav-title>

		<!--<ion-nav-buttons side="right">
			<button ng-click="EditDetails()" class="button button-icon button-clear ion-ios-more"></button>
		</ion-nav-buttons>-->

	</ion-nav-bar>

	<ion-content scroll="false">
		<ion-tabs class="tabs-striped">

			<ion-tab title="Status" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline">
				<ion-scroll class="padding">

					<div class="item item-divider">
						Totals
						<span style="float:right" class="assertive" ng-show="tamount_is_off">
							{{tamount_diff|currency}}
						</span>
					</div>
					<div class="list">
						<div class="item" ng-repeat="own in owns track by $index">
							{{tab.members[$index]}} <span class="badge" ng-class="{'badge-assertive':own<0,'badge-positive':own>=0}">{{own|currency}}</span>
						</div>
					</div>
				</ion-scroll>
			</ion-tab>

			<ion-tab title="Shares" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
				<ion-scroll class="padding">

					<a class="button button-icon-left button-full positive" href ng-click="NewShare()">
						<i class="icon ion-plus-circled"></i> New Share
					</a>

					<div class="list">
						<a class="item" ng-repeat="share in shares" ng-click="SelectShare(share.doc)">
							<span class="badge badge-dark">{{share.doc.given | currency}}</span>
							<h2>{{share.doc.date | date:'medium'}}</h2>
							<p>{{share.doc.description}}</p>
						</a>
					</div>

				</ion-scroll>
			</ion-tab>
			<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
				<ion-scroll class="padding">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas accusantium nisi, et molestiae magni! Iste repellendus quibusdam
					nemo corporis magnam, facilis illo id, officia odio, possimus officiis quis iure aperiam!
				</ion-scroll>
			</ion-tab>

		</ion-tabs>

	</ion-content>


</ion-view>