<ion-view>


    <ion-nav-back-button side="right"></ion-nav-back-button>

    <ion-nav-title>
      {{tab.title}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button ng-click="EditDetails()" class="button button-icon button-clear ion-ios-more">
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="card">
            <div class="item item-divider">
                Χρωστούμενα
            </div>
            <div class="item" ng-repeat="own in owns">
                {{own.name}} <span class="badge" ng-class="{'badge-assertive':own.amount<0,'badge-positive':own.amount>=0}">{{own.amount|currency}}</span>
            </div>
        </div>


        <div class="card">

            <div class="item item-divider">
                Πληρωμές
            </div>

            <a class="item" ng-repeat="note in notes" ng-click="ShowDetails(note.doc,$event)">
                <span class="item-note">{{note.doc.amount | currency}}</span>
                <h2>{{note.doc.description}}</h2>
                <p>{{note.doc.date | date}}</p>
            </a>

            <a class="item item-icon-left positive" href ng-click="AddPayment()">
                <i class="icon ion-plus-circled"></i> Νέα Πληρωμή
            </a>

        </div>
        <!-- <pre class=padding>{{owns|json:2}}</pre>
        <pre class=padding>{{tab|json:2}}</pre>
        <pre class=padding>{{notes|json:2}}</pre> -->


    </ion-content>

</ion-view>
